.jafForm
{
    background-color: white;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* padding: 30px 25px 30px 25px; */
    border: 1px solid hidden;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
   
}

.jafForm iframe
{
     width: 50vw;
     height: 90vh;
}


@media only screen and (max-width: 1200px){
    .jafForm iframe{
     width: 70vw;   
     height: 70vh;
    }
}